hostname {{ hostname }}

{% for vlan in vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.vlan_name }}
!
{% endfor %}



{% for net in vlan_config %}
interface {{ net.name }}
  switchport mode {{ net.switchport_mode_access }}
  switchport access vlan {{ net.vlan_access }}
!
{% endfor %}


{% for trunk in trunk_ports %}
interface {{ trunk.interface }}
  switchport trunk encapsulation {{ trunk.switchport_encapsulation }}  
  switchport mode {{ trunk.mode }}
!
{% endfor %}


{% for conf in svi %}
interface vlan {{ conf.int_name }}
  ip address {{ conf.ip_address }} {{ conf.mask }}
  no shutdown
!
{% endfor %}

{% for dmp in interface_for_DMP %}
interface range {{ dmp.interfaces }}
  description {{ dmp.description }}
  switchport access vlan 100
  switchport mode access
  switchport port-security maximum 2
  switchport port-security violation restrict
  switchport port-security
  ip arp inspection trust
  ip arp inspection limit rate 100
  no logging event link-status
  load-interval 30
{% endfor %}
